.parallax__group-3 {
    position: relative;
    display: flex;
    flex-direction: column;
    min-height: calc(80vh - 2 * max(5vh, 60px));
    padding: max(5vh, 60px) var(--page-content-padding);

    .lines {
        position: absolute;
        z-index: 0;
        left: 0;
        right: 0;
        top: 10vh;
        bottom: 0;
        width: 100%;
    }
    @media screen and (max-width: 500px) {
        .lines {
            transform: rotate(-70deg);
            top: 80vh;
            left: -200%;
            right: -200%;
            width: 500%;
        }
    }
}


.parallax__group-3 {

    .title,
    .tables-title {
        color: white;
        font-weight: bold;
        margin-bottom: max(20px, 4vh);
        z-index: 1;
    }

    .tables-title {
        margin-top: max(40px, 8vh);
    }

    .ways {
        display: flex;
        flex-direction: row;
        gap: 2vw;
        flex-wrap: wrap;
        z-index: 1;

        .way-item {
            display: flex;
            flex-direction: column;
            flex: 1;
            height: max(300px, 30vh);
            background: radial-gradient(100.15% 100% at 0% 100%, rgba(0, 169, 185, 0.9) 0%, rgba(32, 75, 153, 0.9) 76.08%, rgba(30, 62, 121, 0.9) 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
            border-radius: 20px;

            .name {
                display: flex;
                align-items: center;
                color: white;
                font-weight: bold;
                height: 20%;
                padding: 6%;
            }

            .divider {
                width: 90%;
                margin-left: 5%;
                height: max(1px, calc(0.1vh));
                background: linear-gradient(89.91deg, #00E0FF -1.02%, #00FA9C 99.96%);
            }

            .text {
                display: flex;
                flex-direction: column;
                padding: 6%;
                p {
                    color: white;
                    margin: 1% 0;
                }
            }
        }
        @media screen and (max-width: 1200px) {
            .way-item {
                min-width: 40%;
            }
        }
        @media screen and (max-width: 500px) {
            .way-item {
                min-width: 90%;
            }
        }
    }

    .tables {
        display: flex;
        flex-direction: row;
        gap: 2.5vw;
        width: 100%;
        flex-wrap: wrap;
        z-index: 1;

        .tables-item {
            display: flex;
            flex: 1;
            height: max(100px, 12vh);
            background: rgba(255, 255, 255, 0.05);
            border-radius: 50vh;
            min-width: 260px;
            border: 1px solid #484848;
            align-items: center;
            z-index: 1;
            backdrop-filter: blur(10px);

            .logo {
                height: 80%;
                margin-left: 0.7vmax;
                margin-right: 4%;
            }
            .text {
                color: white;
                margin-right: 3%;
            }
        }
    }

    @media screen and (max-width: 800px) {
        .tables {
            gap: 2vh;
            flex-direction: column;
            .tables-item {
                min-height: 75px;
                max-height: 75px;

                .logo {
                    height: 55px;
                    margin-left: 10px;
                }
            }
        }
    }
}

@media screen and (max-width: 1000px) {
    .parallax__group-3 {
        padding: 10px 30px;
    }
}

