
.parallax__group-2 {
    position: relative;
    display: flex;
    padding: max(7vh, 60px) var(--page-content-padding);
    z-index: 3;
    background-color: white;
}


.slide-2 {
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;

    .left {
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: center;
        width: 50%;

        .title-1 {
            color: var(--text-color-dark-blue);
        }
        .title-2 {
            background: var(--linear-gradient-2);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            font-weight: bold;

            margin-bottom: max(10px, 2vh);
        }
        .title-3 {
            color: rgba(255, 0, 0, 0.5);
        }

        .time-left {
            display: flex;
            flex-direction: column;
            margin-top: max(30px, 4vh);
            .title {
                color: rgba(35, 55, 108, 0.5);
                margin-bottom: max(20px, 2vh);
            }
        }

    }

    .right {
        display: flex;
        width: 50%;
        align-items: center;
        .image {
            width: 100%;
        }
    }
}

@media screen and (max-width: 900px) {

    .parallax__group-2 {
        padding: 30px var(--page-content-padding-mobile);
        height: auto;
    }

    .slide-2 {
        flex-direction: column;
        .left {
            width: 100%;

            .title-3 {
                color: var(--text-color-light-blue)
            }

            .time-left {
                margin-bottom: 20px;
                align-items: center;
                width: 100%;
            }
        }
        .right {
            width: 100%;
        }
    }
}