.parallax__group-4 {
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: 1;
    transform-style: preserve-3d;
    width: 100%;
}


.parallax__group-4 {

    .slide-4 {
        display: flex;
        flex-direction: column;
        padding: 40px var(--page-content-padding);

        .title {
            font-weight: bold;
        }

        .p-payload {
            display: flex;
            flex-direction: column;
            gap: 14vh;

            .panels-group {
                display: flex;
                width: 100%;
                justify-content: space-between;
                flex-direction: row;
                gap: 2vmax;
                position: relative;

                .panel {
                    display: flex;
                    flex: 1;
                    flex-direction: column;
                    background-color: rgba(255, 255, 255, 0.76);
                    border-radius: 3vmax;
                    overflow: hidden;
                    border: 1px solid #c0c0c0;

                    .p-icon-wrapper {
                        height: 8vh;
                        width: 100%;
                        display: flex;
                        justify-content: center;
                        align-items: center;

                        .p-icon {
                            height: 80%;
                        }
                    }

                    .p-title {
                        padding: 4% 5%;
                        font-weight: bold;
                    }

                    .p-info {
                        padding: 0 5% 4%;
                    }
                }
            }
            @media screen and (max-width: 1260px) {
                .panels-group {
                    flex-direction: column;

                    .panel {
                        width: 90%;
                    }
                }

                .fl-end {
                    align-items: end;
                }
            }
        }
        .become-participant {
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 3vh;
            height: 6vh;

            .btn {
                display: flex;
                justify-content: center;
                align-items: center;
                cursor: pointer;
                color: white;
                height: 100%;
                width: 25%;
                min-width: 340px;
                background: radial-gradient(65.24% 82.04% at 75.37% 92.62%, #0EE5CD 0%, #0094F1 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
                box-shadow: 0px 0px 50px rgba(14, 229, 205, 0.5);
                border-radius: 100px;
            }
        }
    }
    @media screen and (max-width: 800px) {
        .slide-4 {
            padding: 40px var(--page-content-padding-mobile);
        }
    }
}

.gradient {
    background: var(--linear-gradient-2);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.h-50 {
    height: 50vh !important;
}

.bg-title-1 {
    position: absolute;
    top: -12%;
    z-index: -100;
    right: 3%;
    width: 50%;
    height: auto;
}

.bg-title-2 {
    position: absolute;
    top: -13%;
    z-index: -100;
    left: 5%;
    width: 70%;
    height: auto;
}

.bg-title-3 {
    position: absolute;
    top: -13%;
    z-index: -100;
    right: 3%;
    width: 70%;
    height: auto;
}

@media screen and (max-width: 1260px) {
    .bg-title-1 {
        top: -2%;
        width: 80%;
    }
    .bg-title-2 {
        top: -2%;
        width: 90%;
    }
    .bg-title-3 {
        width: 90%;
        top: -1.5%;
    }
}

.parallax__layer--back-slide4 {
    transform: translateZ(-1px) scale(2);
    z-index: -100;
    width: 100%;
    position: absolute;
    top: 0;
    right: 0%;
    bottom: 0;
    left: 0%;
}

@media screen and (max-width: 1260px) {
    .parallax__layer--back-slide4 {
        transform: translateZ(-1px) scale(1.4);
    }
}

.img-1 {
    position: absolute;
    right: 4%;
    top: 25%;
}
.img-2 {
    position: absolute;
    left: 6%;
    top: 60%;
}